<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.absinthe.kage">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".KageApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="q">

        <service
            android:name=".service.TCPService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.connect.ConnectActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/connect_label"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.receiver.ReceiverActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/receiver_label"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.sender.SenderActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/sender_label"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.about.AboutActivity"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/AppTheme.About" />
        <activity
            android:name=".ui.media.MusicActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.sender.MusicListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/music_list_label"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.media.VideoActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>